:root{
    --cor0: #F5F3F5;
    --cor1: #FFFD98;
    --cor2: #429EA6;
    --cor3: #153B50;
    --cor4: #090C08;
}

*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #000;
}

 /*   ANTES DO SCROLL/CLICK     */
.depois{
    transition-duration: .5s;
}

nav.antes{
    background-image: url(images/back.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    color: var(--cor0);
    padding: 8px;
    height: 600px;
    width: 98.8%;
    text-align: center;
}


.antes#cont{
    background-color: #000000d3;
    width: fit-content;
    margin: auto;
    border-radius: 15px;
    padding: 18px;
    margin-top: 230px;
}

h1.antes{
    font-size: 4rem;
    text-shadow: 1px 1px #000;
}

a.antes{
    font-size: 2rem;
    text-decoration: none;
    color: var(--cor0);
    transition-duration: .4s;
    padding: 2px;
    border-radius: 8px;
    margin: 2px;
}

a.antes:hover{
    border: 1px solid var(--cor1);
}


/*         DEPOIS DO SCROLL/CLICK             */

nav.depois{
    background-color: var(--cor4);
    width: 100%;
}

a.depois{
    text-decoration: none;
    color: var(--cor0);
    margin-left: 8px;
    border-radius: 9px;
    padding: 2px;
    border: 1px solid var(--cor4);
}

a.depois:hover{
    border: 1px solid var(--cor1);
}

h1.depois{
    font-size: 1rem;
    position: absolute;
    left: 8px;
    color: var(--cor0);
}
.depois#cont{
    width: 100%;
    display: flex;
    justify-content: right;
}

/* ---------- Body/Main ----------*/

section#aboutme{
    background-color: var(--cor4);
    color: var(--cor0);
    font-size: 1.5rem;
}

#js{
    color: #ddd900;
    font-size: 1.6rem;
}

/* ---------- footer ---------- */
footer{
    background-color: var(--cor4);
    color: var(--cor0);
    text-align: center;
    bottom: 0;
    width: 99.4%;
    padding: 4px;
}

footer > a {
    text-decoration: none;
    color: var(--cor0);
    transition-duration: .4s;
    padding: 2px;
}

footer > a:hover{
    background-color: var(--cor0);
    color: var(--cor4);
    border-radius: 5px;
}