@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #16181A;
    color: white;
    scroll-behavior: smooth;
}

.limitar-secao {
    width: 100%;
    max-width: 1324px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 6px;
    max-width: 20px;
}

::-webkit-scrollbar-track {
    background-color: #16181a;
}

::-webkit-scrollbar-thumb {
    background-color: #f53232;
    border-radius: 3px;
}

    